# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local

# Windows-specific files (Aggiunto per il tuo sistema)
Thumbs.db
desktop.ini
*.lnk

# macOS-specific files
.DS_Store

# IDEs and Editors (Aggiunto per VS Code)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp